# =============== #
# Unity generated #
# =============== #
Temp/
Logs/*
Library/
Build/
Builds/
UserSettings/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Assets/Sprite1/*

Assets/Texture2D1/*

Assets/Sound/BoardGame/godori.wav.meta
Assets/Sound/Alarm.meta
